<h1>Player Amounts</h1>
<table>
    <tr>
        <th>Player Name</th>
        <th>Amount</th>
    </tr>

    <tr *ngFor="let player of gameData.players">
        <td>{{ player.name }}</td>
        <td *ngIf="player.bankrupt == false">{{ player.amount }}</td>
        <td *ngIf="player.bankrupt == true">Bankrupt</td>
    </tr>
</table>

<h1>Transaction</h1>

<select [(ngModel)]="sender">
    <option value="">Select Sender</option>
    <option value="bank">Bank</option>
    <option *ngFor="let player of gameData.players" [value]="player.name" [hidden]="player.bankrupt">{{ player.name }}</option>
    <option value="everyone">All Players</option>
</select>

<p>to</p>

<select [(ngModel)]="receiver">
    <option value="">Select Receiver</option>
    <option value="bank">Bank</option>
    <option *ngFor="let player of gameData.players" [value]="player.name" [hidden]="player.bankrupt">{{ player.name }}</option>
    <option value="everyone">All Players</option>
</select>

<label>Enter the amount</label>
<input type="number" [(ngModel)]="amount" />

<button (click)="transaction()" [disabled]="!validTransaction">Make transaction</button>

<h1>Transaction Log</h1>
<ul>
    <li *ngFor="let transaction of gameData.transactions">{{ transaction }}</li>
</ul>